@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navBar {   
  width: 100%;
  margin-bottom: 10rem;
  height: 5rem;
  background-color: #205295 !important;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.social {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.logo {
  width: 4rem;
  height: 4rem;
  margin: 6px;
}
#root {
  height: 100vh !important;
  background-color: #0A2647;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.btnCalc {
  width: 110%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: rgb(23, 27, 37);
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  box-shadow: 2px 2px 2px black;
}

.btnCalc:hover {
  background-color: rgb(55, 55, 78);
  color: white;
}

.btnIgual {
  width: 110%;
  margin: 5%;
  color: white;
  border: solid 1px black;
  font-family: "Roboto", sans-serif;
  box-shadow: 2px 2px 2px black;
  background-color: #3184BF;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: -40px;
  margin-top: 5px;
}

.btnIgual:hover {
  background-color: rgba(255, 255, 255, 0.141);
  border: solid 1px black;
  color: white;
}

.screen {
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: #9fa4a9;
  color: rgb(12, 14, 12);
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

.fondo {
  min-height: 100vh;
}

.calculadora {
  max-width: 400px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 10px black !important;
  border-radius: 30px 30px 0 0 !important;
}
.card-header {
  background-color: #0D1A28 !important;
  padding: 1.7rem !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 2.5rem !important;
  border-radius: 30px 30px 0 0 !important;
}
.row {
  display: flex;
  width: 100%;
}

.bgKeydo {
  background: rgb(107, 192, 255);
  background: linear-gradient(
    180deg,
    rgba(107, 192, 255, 1) 0%,
    rgba(38, 100, 145, 1) 100%
  );
}
